<html>
    <head>
        <meta charset="UTF-8">
        <title>Link Shortner</title>
        <style>
            body{
                background-color: springgreen;
            }
            h1.head{
                font-size: 300%;
            }

        </style>
    </head>
    
    <body>
        <h1 class ="head" style="text-align: center;">Link Shortner</h1>

        <a href="http://127.0.0.1:8000/create.html" >CREATE</a>
        <a href="http://127.0.0.1:8000/goto.html" >GOTO</a>
    </body>
</html>